<div class="container">
  <div class="logo">

  </div>
    <%= image_tag '/images/logo.png', class: "eb"%>
    <div class="row" id="header">
    <a href="#">New Arrivals</a>
    <a href="#">Winter Sale</a>
    <a href="#">Coats</a>
    <a href="#">Gloves</a>
    <a href="#">Scarves</a>
    <a href="#">Pants</a>
    <a href="#">Contact</a>
    </div>
      <div class="row">
        <div class="col">
          <div class="text">
            <h2>Discover the Newest Trends</h2>
            <p>A New Look at Winter Fashion</p>
          </div>
          <img src="/images/winter1.jpg" class="men"  alt="img-1"/>
        </div>
                <div class="col">
                    <img src="/images/winter2.jpg" class="men" alt="img-2" />
                    <a class="block" href="#" id="shop">Shop Now</a>
                </div>
            </div>
        </div>
